/* CASCADA */

/* h1{
    color: green;
}

p{
    color: blue;
}

main{
    background-color: blanchedalmond;
}

body{
    background-color: aquamarine;
}

/* Siempre tomara la ultima modificacion dada a un atributo */
/* 
p{
    color: black;
} */

/* HERENCIA */

/* p{
    color: tomato;
} 

/* Con inherit se hereda los atributos de la etiqueta mas proxima */
/* a{ 
    color: inherit;
} */

/* ESPECIFIDAD */

/* #identificador{ 
    color: lightseagreen;
}

.clase{
    color: black;
}

p{
    color: rebeccapurple !important; 
}*/


/* SELECTORES */

/* Selector universal */

*{
    font-size: 50px;
    color: black;
}

/* Selectores de etiqueta */

h1,h2,h3,h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    color: blue;
}

a{
    background-color: bisque;
}

p{
    text-align: center;
}

/* Selectores de clase */

p.p1{
    background-color: black;
    color: azure;
}

.p2{
    background-color: darkgray;
    color: azure;
    font-size: 50px;
}

/* Selectores de ID */
/* Los ID a diferencia de las clases, solo se pueden usar una vez */
#i1{
    color: dimgrey;
    background-color: aqua;
}