
/* Este selector indica que todos los a hijos de h1 recibiran los estilos seleccioados */

h1 > a{
    color: coral;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkcyan;
}

p > a{
    color: khaki;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkcyan;
}


/* Selector adyecente */
/* Solo le aplica el estilo al elemento mas proximo (h3) de h2 */
h2 + h3 {
    color: fuchsia;
    font-weight: bold;
    
}

/* Este atributo aplica los estilos a todo lo que tenga una clase en el codigo */

[class]{
    color: darkgreen;
    font-size: 30px;
    background-color: black;
}

[class="p1"]{
    color: brown;
}