
header{
    background-color: gray;
    /* Borde */
    border: 5px chartreuse;
    /* Ancho */
    width: 770px; 
    /* Alto */
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}

main{
    background-color: chocolate;
    width: 780px;
    height: 400px;
}